 /* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Add a red background color to navigation links on hover */
.navbar a:hover{
  background-color: rgb(131, 103, 103);
}

