
/* The subnavigation menu */
.subnav {

}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav:hover .subnavbtn {
  background-color: rgb(131, 103, 103);
}
/* Style the subnav content - positioned absolute */
.subnav-content {
  /* display: none; */
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  background-color: rgb(53, 13, 13);
  /* width: 400px; */
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  padding:1rem;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
} 
.active{
  color:white;
  background-color: steelblue;
}