body {
  font-size: 1.4rem;
  
}
/*! CSS Used from: Embedded */
article,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
strong {
  font-weight: bold;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p {
  margin: 0 0 10px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
table {
  background-color: transparent;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*! CSS Used from: Embedded */
a,
article table a {
  color: #8c69ff;
  text-decoration: none;
}
a:focus,
a:hover,
article table a:focus,
article table a:hover {
  color: #8c69ff;
  text-decoration: underline;
}
a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
.mb30 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .faq-num {
    margin-right: 18px;
  }
}
.faq-rhs p {
  margin: 0;
}
article img {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  height: auto;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.8);
}
.aligncenter {
  clear: both;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto;
}
.post img,
.single img {
  max-width: 100%;
  height: auto;
}
article > p {
  margin-bottom: 16px;
}
article table {
  width: 100%;
  border: 1px solid #444;
  border-bottom: 0;
  border-spacing: 0;
  line-height: 18px;
  border-collapse: separate;
  margin: 0 0 22px;
  background: #f1edff;
  border-radius: 8px;
}
article table tbody:not(thead + tbody) tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
article table tbody:not(thead + tbody) tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
article table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
article table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
article table td {
  font-size: 14px;
  line-height: 20px;
}
article table td:not(.WolframAlphaWidget td) {
  padding: 12px 8px !important;
  border-bottom: 1px solid #444;
}
article ul > li {
  list-style-type: disc;
}
article ol > li,
article ul > li {
  margin-bottom: 5px;
}
article h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #444;
}
article h2 span,
article h3 span {
  color: #444 !important;
}
article h3:not(.comment-reply-title) {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #444;
}
article h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
article p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  article,
  article table td {
    font-size: 14px;
    line-height: 24px !important;
    word-break: break-word;
  }
  article p {
    font-size: 14px;
  }
  article h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #444;
  }
  article h3:not(.comment-reply-title) {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #444;
  }
  article h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
.faq-heading,
.faq-section h2 span {
  font-weight: 700;
  color: #31313c !important;
  margin-top: 32px;
  display: block;
  margin-bottom: 16px;
}
.faq-schema section {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #525252;
}
.faq-item {
  display: flex;
}
.faq-num {
  margin-right: 12px;
  line-height: 24px;
}
.faq-rhs {
  flex: 1;
}
.faq-item-ques,
.faq-schema h3 {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #525252 !important;
  line-height: 24px !important;
  margin: 0 0 8px !important;
}
@media (min-width: 768px) {
  .faq-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .faq-item-ques,
  .faq-schema h3 {
    font-size: 16px !important;
  }
  .faq-schema section {
    font-size: 16px;
  }
}
h4 {
  font-size: 2rem;
  border-left: 8px solid blueviolet;
  padding-left: 1rem;
}
